In [1]:
import pandas as pd
import string
import time
def time_it():
    return  pd.to_datetime(time.time(),unit = 's')

In [2]:
actual_output = ['St Albans', 'St Albans', 'St Albans', 'St Ablans', 'St Albans', 'St Alans', 'S Albans', 'St Albans', 'S Albnas', 
'St Albnas', 'St Albans', 'St Algans', 'Sl Albans', 'St Allbans', 'St Albans', 'St Alban', 'St Alban']

In [9]:
start = time_it()

names = ['St. Albans',
        'St. Albans', 
        'St Albans', 
        'St.Ablans',
        "St.albans", 
        "St. Alans", 'S.Albans',
        'St..Albans', 'S.Albnas', 
        'St. Albnas', "St.Al bans", 'St.Algans',
        "Sl.Albans", 'St. Allbans', "St, Albans", 'St. Alban', 'St. Alban']

only_periods = [i.replace(",",".").replace(" ", "") for i in names]
new_names = [(i.split(".")[0].title() + " " + i.split(".")[-1].title()) if len(i.split(".")) > 1 else i for i in only_periods]



end = time_it()
# end_memory = float(psutil.virtual_memory().free)/1024**3
loop_time = end - start


accuracy = len(set(new_names).intersection(set(actual_output)))/len(set(new_names))
results = pd.DataFrame({'Results(Time+Space_Complexity':{'Nanoseconds': loop_time.nanoseconds, 'Microseconds': loop_time.microseconds
                            ,'Seconds': loop_time.seconds,'Total_Seconds':loop_time.total_seconds() ,'Accuracy': '%.2f' % (accuracy*100)}}) #'Memory': '%d MB' % (loop_memory* 1024),

In [10]:
results

              Results(Time+Space_Complexity
Accuracy                              90.91
Microseconds                              0
Nanoseconds                               0
Seconds                                   0
Total_Seconds                             0

# Firas

In [12]:
%%timeit
names = ['St. Albans',
        'St. Albans', 
        'St Albans', 
        'St.Ablans',
        "St.albans", 
        "St. Alans", 'S.Albans',
        'St..Albans', 'S.Albnas', 
        'St. Albnas', "St.Al bans", 'St.Algans',
        "Sl.Albans", 'St. Allbans', "St, Albans", 'St. Alban', 'St. Alban']

only_periods = [i.replace(",",".").replace(" ", "") for i in names]
new_names = [(i.split(".")[0].title() + " " + i.split(".")[-1].title()) if len(i.split(".")) > 1 else i for i in only_periods]

13.9 µs ± 435 ns per loop (mean ± std. dev. of 7 runs, 100000 loops each)

# Rosalinda

In [7]:
%%timeit
names = ['St. Albans',
        'St. Albans', 
        'St Albans', 
        'St.Ablans',
        "St.albans", 
        "St. Alans", 'S.Albans',
        'St..Albans', 'S.Albnas', 
        'St. Albnas', "St.Al bans", 'St.Algans',
        "Sl.Albans", 'St. Allbans', "St, Albans", 'St. Alban', 'St. Alban']

def clean_names(names):
    return [' '.join(name.replace(",", " ").split()).title() for name in names]

new_names = clean_names(names)

5.99 µs ± 151 ns per loop (mean ± std. dev. of 7 runs, 100000 loops each)

# Eugene - Not Attending Anymore

In [6]:
%%timeit
names = ['St. Albans',
        'St. Albans', 
        'St Albans', 
        'St.Ablans',
        "St.albans", 
        "St. Alans", 'S.Albans',
        'St..Albans', 'S.Albnas', 
        'St. Albnas', "St.Al bans", 'St.Algans',
        "Sl.Albans", 'St. Allbans', "St, Albans", 'St. Alban', 'St. Alban']

def tokenize(str, tokens, drop_empty=True):
   if(len(tokens)==0):
      return list(str)

   if(len(tokens)==1):
      tlist = str.split(tokens[0])
      return tlist
   else:

      tlist = str.split(tokens[0])

      outlist = []
      for index,item in enumerate(tlist):
         outlist = outlist + tokenize(item, tokens[1:])

      #
      # Drop empty strings if requested (default=True)
      if(drop_empty):
        while "" in outlist:
             outlist.remove("")

      return outlist

cleaned_names = names.copy()

for index, name in enumerate(names):
   list = tokenize(name,[",", "."," "])

   # Reconstitute
   cleaned_names[index] = list[0] + " " + "".join(list[1:])
   cleaned_names[index] = cleaned_names[index].title()

41.8 µs ± 1.3 µs per loop (mean ± std. dev. of 7 runs, 10000 loops each)

# Dylan

In [5]:
%%timeit
names = ['St. Albans',
        'St. Albans', 
        'St Albans', 
        'St.Ablans',
        "St.albans", 
        "St. Alans", 'S.Albans',
        'St..Albans', 'S.Albnas', 
        'St. Albnas', "St.Al bans", 'St.Algans',
        "Sl.Albans", 'St. Allbans', "St, Albans", 'St. Alban', 'St. Alban']
new_names = []

for name in names:
    name = name.replace(".","").replace(",","").replace(" ","").replace("t","t ")
    name = name.replace("S","S ").replace("S t","St").replace("S l","Sl ").replace("t a","t A")
    new_names.append(name)

11.9 µs ± 319 ns per loop (mean ± std. dev. of 7 runs, 100000 loops each)

# Mat_G

In [4]:
%%timeit
names = ['St. Albans',
        'St. Albans', 
        'St Albans', 
        'St.Ablans',
        "St.albans", 
        "St. Alans", 'S.Albans',
        'St..Albans', 'S.Albnas', 
        'St. Albnas', "St.Al bans", 'St.Algans',
        "Sl.Albans", 'St. Allbans', "St, Albans", 'St. Alban', 'St. Alban']
cleaned_names = []
for name in names:
    name = name.replace(".", " ").replace(",", "").replace("  "," ")  # replaces all "." and ","
    name = " ".join(name.split())  # uses the join() function to join the words back together with a space as the delimiter
    cleaned_names.append(name) # cleaned names are stored in the cleaned_names list, which is then printed

8 µs ± 197 ns per loop (mean ± std. dev. of 7 runs, 100000 loops each)