In [1]:
names = ['St. Albans',
        'St. Albans', 
        'St Albans', 
        'St.Ablans',
        "St.albans", 
        "St. Alans", 'S.Albans',
        'St..Albans', 'S.Albnas', 
        'St. Albnas', "St.Al bans", 'St.Algans',
        "Sl.Albans", 'St. Allbans', "St, Albans", 'St. Alban', 'St. Alban']

In [2]:
print(f"The original list:", names)

The original list: ['St. Albans', 'St. Albans', 'St Albans', 'St.Ablans', 'St.albans', 'St. Alans', 'S.Albans', 'St..Albans', 'S.Albnas', 'St. Albnas', 'St.Al bans', 'St.Algans', 'Sl.Albans', 'St. Allbans', 'St, Albans', 'St. Alban', 'St. Alban']

In [3]:
new_names = []

for name in names:
    name = name.replace(".","").replace(",","").replace(" ","").replace("t","t ")
    name = name.replace("S","S ").replace("S t","St").replace("S l","Sl ").replace("t a","t A")
    new_names.append(name)

In [4]:
print(f"The new list:", new_names)

The new list: ['St Albans', 'St Albans', 'St Albans', 'St Ablans', 'St Albans', 'St Alans', 'S Albans', 'St Albans', 'S Albnas', 'St Albnas', 'St Albans', 'St Algans', 'Sl Albans', 'St Allbans', 'St Albans', 'St Alban', 'St Alban']